@media (max-width: 768px) {
  .detailsSection {
    flex-direction: column;
    gap: 10px;
  }
  
  .detailColumn {
    width: 100%;
  }

  .wifiContainer {
    padding: 0;
  }
  .wifiInfo, .wifiMetrics {
    font-size: 13px;
  }
  .wifiGraph {
    min-height: 200px;
  }
} 