#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* 앱 컨테이너 및 메인 콘텐츠 스타일 */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  padding: 2rem;
  padding-top: calc(60px + 2rem);
  /* 헤더 높이 + 패딩 */
  background-color: #242424;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-left: 250px;
  /* 사이드바 너비만큼 여백 추가 */
  min-height: 100vh;
  overflow-y: auto;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
    padding: 1rem;
    padding-top: calc(60px + 1rem);
    /* 헤더 높이 + 패딩 */
  }
}