.sidebar {
    width: 200px;
    background-color: #242424;
    padding: 1rem;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin: 0.5rem 0;
  
        a {
          text-decoration: none;
          color: white;
  
          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }
  